
[*]

# Microsoft .NET properties
csharp_space_after_cast = false

# ReSharper properties
resharper_blank_lines_before_block_statements = 1
resharper_blank_lines_before_control_transfer_statements = 1
resharper_csharp_blank_lines_around_invocable = 0
resharper_csharp_blank_lines_around_region = 0
resharper_csharp_max_line_length = 361
resharper_csharp_wrap_arguments_style = chop_if_long
resharper_remove_blank_lines_near_braces_in_code = false
resharper_remove_blank_lines_near_braces_in_declarations = false
